.landingPageContainer{
  width: 100vw;
  height: 100vh;
  background: url("/background.png");
  background-repeat: no-repeat; /* prevents background image from repeating */
  background-size: cover;
  color: white;
}

.landingPageContainer nav{
  padding-inline: 1.2rem; /* horizontal padding (left & right) */
  padding-block: 1.6rem;  /* vertical padding (top & bottom) */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2{
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navList{
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.landingPageContainer nav .navList p {
  font-size: 1.17rem;
  opacity: 0.85;  /* slightly dims nav links by default to create a subtle hover reveal effect */
  transition: opacity 0.2s; /* smoothly animates opacity change over 0.2 seconds on hover */
}

.landingPageContainer nav .navList p:hover {
  opacity: 1;
}

.landingPageMainContainer{
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 70vh;
  align-items: center;
}

/* targets the first direct div child of the landing page main container */
.landingPageMainContainer > div:nth-child(1) {
  font-size: 1.9rem;
}

.landingPageMainContainer > div:nth-child(1) div[role='button'] {
  background-color: #D97500;
  width: fit-content;
  padding: 0.7rem 1.8rem; /* vertical & horizontal padding  */
  border-radius: 20px;
  margin-top: 1.9rem;
  transition: filter 0.2s; /* smoothly animates brightness change over 0.2 seconds on hover */
  cursor: pointer;
}

.landingPageMainContainer > div:nth-child(1) div[role='button']:hover {
  filter: brightness(0.85);
}

.landingPageMainContainer > div:nth-child(1) div[role='button'] {
  color:white;
  font-size: 1.65rem;
  
}

.landingPageMainContainer > div:nth-child(2) img {
  height: 70vh;
  width: auto;
}